@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 22% 96%; /* #EDF2F4 */
    --foreground: 235 22% 21%; /* #2B2D42 */
    --card: 0 0% 100%; /* #FFFFFF */
    --card-foreground: 235 22% 21%; /* #2B2D42 */
    --popover: 0 0% 100%;
    --popover-foreground: 235 22% 21%;
    --primary: 353 82% 53%; /* #EF233C */
    --primary-foreground: 210 40% 98%;
    --secondary: 216 13% 61%; /* #8D99AE */
    --secondary-foreground: 235 22% 21%;
    --muted: 216 13% 85%;
    --muted-foreground: 216 13% 41%;
    --accent: 216 13% 90%;
    --accent-foreground: 235 22% 21%;
    --destructive: 352 98% 42%; /* #D90429 */
    --destructive-foreground: 210 40% 98%;
    --border: 216 13% 81%;
    --input: 216 13% 81%;
    --ring: 353 82% 53%;
    --chart-1: 353 82% 53%;
    --chart-2: 352 98% 42%;
    --chart-3: 216 13% 61%;
    --chart-4: 235 22% 21%;
    --chart-5: 210 22% 96%;
    --radius: 0.5rem;
    --sidebar-background: 235 22% 21%; /* #2B2D42 */
    --sidebar-foreground: 210 22% 96%; /* #EDF2F4 */
    --sidebar-primary: 353 82% 53%; /* #EF233C */
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 235 22% 31%;
    --sidebar-accent-foreground: 210 22% 96%;
    --sidebar-border: 235 22% 31%;
    --sidebar-ring: 353 82% 53%;
  }

  .dark {
    --background: 235 22% 21%;
    --foreground: 210 22% 96%;
    --card: 235 22% 16%;
    --card-foreground: 210 22% 96%;
    --popover: 235 22% 21%;
    --popover-foreground: 210 22% 96%;
    --primary: 353 82% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 216 13% 61%;
    --secondary-foreground: 210 22% 96%;
    --muted: 235 22% 31%;
    --muted-foreground: 216 13% 61%;
    --accent: 235 22% 31%;
    --accent-foreground: 210 22% 96%;
    --destructive: 352 98% 42%;
    --destructive-foreground: 210 40% 98%;
    --border: 235 22% 31%;
    --input: 235 22% 31%;
    --ring: 353 82% 53%;
    --chart-1: 353 82% 53%;
    --chart-2: 352 98% 42%;
    --chart-3: 216 13% 61%;
    --chart-4: 235 22% 21%;
    --chart-5: 210 22% 96%;
    --sidebar-background: 235 22% 16%;
    --sidebar-foreground: 210 22% 96%;
    --sidebar-primary: 353 82% 53%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 235 22% 26%;
    --sidebar-accent-foreground: 210 22% 96%;
    --sidebar-border: 235 22% 26%;
    --sidebar-ring: 353 82% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
